<h1>Restaurants</h1>

<p id="add-link">
  <%= link_to 'Add new restaurant', new_restaurant_path %></p>

<ul>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant_path(restaurant)%>
</li>
<%end%>
</ul>
